.login_page {
  padding: 20px;
  box-sizing: border-box;
  background: url("../../assents/images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  place-items: center;
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;
  --button-radius: 0.7rem;
  --max-width: 760px;
  --max-height: 465px;
  font-size: 16px;
  font-family: system-ui;
}

.title_page {
  width: 90%;
  height: 10%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo_text {
  color: #0fb3a5;
  font-size: 46px;
  font-family: system-ui;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.212)),
    url("../../assents/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: var(--max-height);
  max-width: var(--max-width);
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}

.container_login {
  width: 50%;
}

.form {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  height: 100%;
  text-align: center;
}

.form_title {
  font-weight: 400;
  margin: 0;
  font-size: 33px;
  font-family: system-ui;
  color: #0fb3a5;
}

.form_div_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 4%;
}

.label {
  text-align: initial;
  margin-left: 8px;
}

.input {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.7rem 0.9rem;
  outline: none;
  transition: 0.3s ease-in-out;
  color: rgb(73, 69, 69);
}

.input:focus {
  border: 1px solid #078bdd;
}

.forget_password {
  color: #333;
  font-size: 0.9rem;
  margin: 3% 0 4% 0;
  text-decoration: none;
}

.btn {
  font-weight: 700;
  outline: none;
  background-color: #0fb3a5;
  border-radius: 20px;
  border: 1px solid #0fb3a5;
  color: #e9e9e9;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 20%;
  width: 80%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 700;
}

.btn:hover {
  background-color: #009f92;
}

.btn:active {
  transform: scale(0.95);
}

.right_container {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn_signup_link {
  width: 100%;
  text-align: -webkit-center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.div_inprogress {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  background: black;
  opacity: 55%;
  z-index: 4;
  transform: translate(0px, -100%);
}

.img_inprogress {
  width: 35px;
  height: 35px;
  animation: loading 1s linear infinite 0ms;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
