* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
  width: 100%;
  background: #dfe6ed;
}
