.div_loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.img_loading {
  max-width: 90px;
  width: 10%;
  animation: loading 1s linear infinite 0ms;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
