.user_main {
  margin-top: 90px;
}

.user_section {
  max-width: 950px;
  margin-inline: auto;
}

.div_user {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.div_user_avatar {
  width: 40%;
  display: flex;
  justify-content: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url("../img/avatar-person.svg");
  background-repeat: no-repeat;
}

.div_info_user {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.div_username {
  display: flex;
  align-items: center;
}

.div_username div {
  margin-right: 20px;
}

.username {
  font-size: xx-large;
  font-weight: 100;
}

.btn_editar_perfil {
  font-weight: 500;
  padding: 4px 9px;
  background: none;
  border: solid 1px #979797;
  border-radius: 4px;
  cursor: pointer;
}

.ul_follows {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
}

.ul_follows li {
  margin-right: 30px;
}

.user_full_name {
  font-weight: 500;
}

.div_titule_publications {
  margin: 40px 0 20px 0;
  text-align: center;
  border-top: solid 1px #848484;
}

.div_titule_publications p {
  margin-top: 6px;
  font-size: small;
  font-weight: 500;
}

.user_all_publications {
  display: flex;
  flex-wrap: wrap;
}

.user_all_publications_img {
  width: 30%;
  margin: 0 auto 25px 0;
  -webkit-writing-mode: vertical-lr;
}

.user_all_publications_img img {
  aspect-ratio: 4/4;
  width: 100%;
}
