main {
  margin-top: 90px;
}

.section {
  max-width: 950px;
  margin-inline: auto;
}

.div_user {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.div_user_avatar {
  width: 40%;
  display: flex;
  justify-content: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url("../../assents/images/avatar-person.svg");
  background-repeat: no-repeat;
}

.user_info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.div_username {
  display: flex;
  align-items: center;
}

.username {
  font-size: xx-large;
  font-weight: 100;
  margin-right: 20px;
}

.btn_edit_perfil {
  font-weight: 500;
  padding: 4px 9px;
  background: white;
  border: solid 1px #979797;
  border-radius: 4px;
  cursor: pointer;
}

.followings_and_followers {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
}

.list {
  margin-right: 30px;
}

.list_button {
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.full_name {
  font-weight: 500;
}

.publications_title {
  margin: 40px 0 20px 0;
  text-align: center;
  border-top: solid 1px #848484;
}

.title {
  margin-top: 6px;
  font-size: small;
  font-weight: 500;
}

.all_publications {
  display: flex;
  flex-wrap: wrap;
}

.no_publication {
  margin: auto;
  font-size: large;
  font-weight: 500;
  color: #2e2e2e;
}

.publication {
  width: 30%;
  margin: 0 1.65% 25px 1.65%;
  /* -webkit-writing-mode: vertical-lr; */
  writing-mode: vertical-lr;
}

.publication_img {
  aspect-ratio: 4/4;
  width: 100%;
}

.publication_img:hover {
  mix-blend-mode: multiply;
}
