.main {
  width: 500px;
  margin: 90px auto 0 auto;
  background: white;
  padding: 20px 25px;
  height: 100vh;
  border-radius: 8px;
  overflow: auto;
}

.h3 {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #656677;
}
