.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url("../../assents/images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  max-width: 768px;
  display: flex;
}

.form {
  display: flex;
  padding: 1rem 2rem;
  border: solid 1px darkgray;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  background-color: white;
}

.div_inputs {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
}

.label {
  margin-left: 6px;
  color: #242424;
  font-size: small;
}

.input {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.7rem 0.9rem;
  width: -webkit-fill-available;
  outline: none;
  transition: 0.3s ease-in-out;
  color: rgb(73, 69, 69);
}

.input:focus {
  border: 1px solid #078bdd;
}

.link_login {
  text-decoration: none;
  color: black;
  margin-top: 3%;
  transition: 0.3s ease;
  cursor: pointer;
}

.link_login:hover {
  color: blue;
}

.btn_submit {
  background-color: #0fb3a5;
  border-radius: 20px;
  border: 1px solid #0fb3a5;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 20%;
  width: 80%;
  text-transform: uppercase;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  transition: 0.3s;
}

.btn_submit:active {
  transform: scale(0.95);
}

.div_inprogress {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  background: black;
  opacity: 65%;
  z-index: 4;
}

.img_inprogress {
  width: 35px;
  height: 35px;
  animation: loading 1s linear infinite 0ms;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
